<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Material App Shell</title>
    <link rel="stylesheet" href="./reset.css">
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="./shell.css">
</head>
<body>
    <header class="mdc-top-app-bar background-color">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Blackjack</span>
          </section>
          <section class="mdc-top-app-bar__section" id="navLinks">
            <span class="mdc-top-app-bar__title"></span>
            <nav>
                <a href="../public/index.html">
                    <button class="mdc-button">
                        <span class="mdc-button__label white-text mdc-theme--on-primary">Home</span>
                    </button>
                </a>
                <a href="../public/rules.html">
                    <button class="mdc-button">
                        <span class="mdc-button__label white-text mdc-theme--on-primary">Rules</span>
                    </button>
                </a>
                <a href="../public/table.html">
                    <button class="mdc-button">
                        <span class="mdc-button__label white-text mdc-theme--on-primary">Table</span>
                    </button>
                </a>
            </nav>
          </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <span id="loginIcon" class="material-icons">Login</span>
            <span id="menuIcon" class="material-icons">Menu </span>
          </section>
        </div>
      </header>
    <main class="mdc-top-app-bar--fixed-adjust">
	<h1>
	  <%= gambler.username %>
        </h1>
        <h2>
	  <%= gambler.fullName %>
        </h2>
      </main>
    <footer class="background-color"><span id="copyright">&copy; TechWise  </span></footer>
    <script src="./shell.js"></script>
</body>
</html>
