#hero {
    width: 100%;
    height: 30vh;
    float: initial;
}

#whyUs {
    width: 40%;
    float: left;
}

#callToAction {
    width: 60%;
}

main > container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100vh - 220px);
    column-gap: 20px;
}

@media (max-width: 700px) {
    main > container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}