section {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.standard-margin {
    margin: 10px;
}

.ampler-padding {
    padding: 20px;
}

.align-self-center {
    align-self: center;
}